Package: com.wolfox.gpsksa
Name: WolFox GPS KSA
Depends: mobilesubstrate, preferenceloader, com.opa334.altlist
Version: 1.0.0
Architecture: iphoneos-arm
Description: Professional GPS Spoofing and Device Management Tool for iOS.
Maintainer: WolFox
Author: WolFox Team
